body {
  height: 100%;
}

.page-box {
  width: 90%;
  margin: auto;
  align-content: center;
}

/**********************
PAGE-BOX
**********************/

.page-box {
  background-image: url('../img/sketch.jpg');
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: none;
  overflow: scroll;
}

/**********************
KANJI IMAGE
**********************/

/**********************
KANJI-INFO-BOX
**********************/

#kanji-info-box {
  width: 100%;

  margin: auto;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
}

/**********************
ILLUST-OLD-BOX
**********************/

/*ILLUSTRATION*/

#illust-old-box {

  margin: auto;
  width: 100%;
  border-bottom: 1px solid;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#illust-old-box img {
  margin: auto;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#illust {
  margin: auto;
  width: 45%;
}

/*OLD FORMS*/

#oldforms {
  margin: auto;
  width: 45%;
}

.oldforms img {
  max-width: 100%;
  margin: auto;

}

/**********************
INFO
**********************/

#info {
  width: 100%;
  font-weight: 1000;
}


/**********************
MEDIA QUERIES
**********************/

@media screen and (min-width: 600px) {
  #kanji-info-box {
    width: 75%;
  }
}