/*******
ELEMENTS
*******/

* {
	box-sizing: border-box;
}

body {
	font: 1em/1.5 'Open Sans', sans-serif;
	color: #373737;
	background: #eaeaea;
	margin: 0;
}

a {
	text-decoration: none;
}

h1 {
  font-size: 5em;
}

h2 {

}

h3 {
	font-size: 1.3em;
	line-height: 1.25em;
	margin-top: 0em;
	margin-bottom: .5em;
}
p {
	font-size: .875em;
	line-height: 1.4;
	margin: 0 0 1.5em;
}

/*********
HEADING
*********/

header {
  
}

#logo {
  margin: 0;
  text-align: left;
}

h1 {
  margin: 15px 0;
  font-size: 1.3em;
  font-weight: 800;
  line-height: 0.8em;
}

h2 {
  margin: -5px 0 0;
  font-weight: normal;
}


/*********
NAVIGATION
*********/

nav {
  text-align: left;
  padding: 10px 0;
  margin: 0px 0 1px;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}


/*******
ALL-ENTRIES
*******/

#announce {
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid;
}

#announce img {
  margin: auto;
  float: right;
  
  padding: 5px;
  border-radius: 50px;

  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}


/*******
ALL-ENTRIES
*******/

.main-header {
	text-align: center;
	/*padding: 2.8em 0;*/
}

.all-entries {
	display: flex;
	width: 100%;
	margin: auto;
  flex-wrap: wrap;
}

/*******
ENTRIES
*******/

.entry {
  background: none;
  position: relative;
	line-height: 0;
	overflow: hidden;
	margin: 1%;
  border: 1px solid green;
  border-radius: 25px;
}

/*******
IMAGE & OVERLAY BOX
*******/

#imgkanjioverlay {
  position: relative;
  line-height: 0;
  overflow: hidden;
  margin: 1%; 
}

#imgkanjioverlay img {
  max-width: 100%;
  padding: 5px;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}


/*******
KANJI OVERLAY
******/

#kanjioverlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .65);
  font-size: 7em;
  font-weight: 600;
  border-radius: 25px;
}

#kanjioverlay p {
  margin-top: -15px;
  font-size: 1.5rem;
}

#kanjioverlay {
	opacity: 0;
	transition: .5s;
}

#kanjioverlay:hover {
	opacity: 1;
}

/*******
THUMB TEXT
*******/

#thumbtext a {
  color: #fff;
  font-weight: 800;
  background-color: #599a68; 
  /*box-shadow: 2px 1px 5px 2px rgba(0,0,0,0.2);*/
  border-radius: 25px;
  padding: 5px;
  transition: .25s;

  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

#thumbtext a:hover {
  background-color: red;
}


/*********
GENERAL
*********/


body {
  
}

#wrapper {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 5%;

}

#contacts {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration:none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}


/*********
FOOTER
*********/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}


/*********
PAGE: PORTFOLIO
*********/


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*********
PAGE: ABOUT
*********/

.profile-photo {
  float: right;
  display: block;
  max-width: 150px;
  margin: 0 auto 5px;
  border-radius: 75%;
}



/*********
PAGE: CONTACT
*********/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

#primary p {
  text-align: center;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.mail a {
  background-image: url('../img/mail.png');
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.twitter a {
  background-image: url('../img/twitter.png');
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.facebook a {
  background-image: url('../img/facebook.png');
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.names {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* =================================
  KANJI OVERLAY
==================================== */

.kanji {
  opacity: 0;
  transition: .5s;
}
.kanji:hover {
  opacity: 1;
}


/*********
COLORS
*********/

/* site body */
body {
  background-image: url('../img/sketch.jpg');
  background-color: #fff;
  color: #000;
}

/* header */
header {
  
}

/* nav background on mobile */
nav {
  background: #599a68;
}

/* logo text */
#logo h1, h2 {
  color: #fff;
  text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
  text-align: left;
}

/* links */
a {
  color: lightblue;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
  text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #32673f;
}

/*******
MEDIA QUERIES
******/

/* NAVIGATION */