%footer.text-xs-center
  .container-fluid.m-t-3.m-b-1
    Copyright
    - if user_signed_in?
      = link_to '©', destroy_user_session_path, method: :delete
    - else
      = link_to '©', new_user_session_path
    2016 Bret Mayer
