-# Google Snippet
%script{:type => "application/ld+json"}
  {
  "@context": "http://schema.org/",
  "@type": "Thing",
  "name": "#{item.word}",
  "alternatename": "#{item.reading}",
  "description": "#{item.english}"
  }
