html,
body
  height: 100%

body
  background: $gray-lighter

.mdi
  line-height: 1em

.navbar-fixed-top.bg-faded
  background: transparentize($gray-lightest, 0.2)

.navbar-light .navbar-brand
  color: rgba(255, 255, 255, .8)
  &:hover
    color: white

// Sticky footer
.wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -2.5rem
  // padding-top: 2rem

.footer,
.push
  height: 2.5rem

#flash
  position: fixed
  top: 1rem
  left: 1rem
  right: 1rem
  z-index: 9999

.delay
  transition-delay: 1s

::selection
  background: $brand-primary
  color: $gray-dark

[type="checkbox"],
[type="radio"]
  margin-right: .5em

.mdi:before,
.mdi-set
  font-size: 1em

img
  max-width: 100%

.breadcrumb
  margin-bottom: 0rem

a:hover .card
  color: $gray-dark

.card#kanji
  margin-bottom: ($spacer * 2)

.vertical-rl
  writing-mode: vertical-rl
  letter-spacing: .25em
  margin-bottom: 0

.max-height
  max-height: 16.5rem

.superpencil
  background-color: #FCE400
  color: #774701
  font-family: "Avenir Next", "Avenir", "Helvetica", "Arial", sans-serif
  font-weight: bold

  img
    width: 17px
    margin-right: -2px
    margin-top: -1px
